.idea
*/data
hw1/means
*.RData
*.Rhistory
*.Rproj.user
hw1/R/svm_light
*.Rproj
*.dat
.Rproj.user
computed_data
models
summaries
MNIST-data
cifar10_data
cifar10_train
cifar10_train_bkp
hw11/images
hw10_cifar/cifar10_train_mod_25k
hw10_cifar/cifar10_train_final_bkp
hw11/MNIST_data
hw10_cifar_valintrain_bkp.zip

